.team-slot {
    background: #C0C0C0;
    border: 1px solid #999999;
    color: black;
}

.field-box, .img-box {
    background: #ffffff;
    border: 1px solid #CCCCCC;
}

.time-tracking-box {
    background: #ffffff;
    border: 1px solid #CCCCCC;
    color: #000000;
}
